<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellington College Tutoring</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Log In</a>
    <a href="/tutor_signup">Tutor Signup</a>
    <a href="/tutee_signup">Student Signup</a>
    <a href="/addsession">Add session</a>
</nav>

    {% block main %}

    {% endblock %}

</body>
</html>