{% extends 'base.html' %}

{% block main %}
    <br>
    <table>
    <thead>
        <tr>
            <th>Tutor</th>
            <th>Student</th>
            <th>Room</th>
            <th>time</th>
        </tr>
    </thead>
    <tbody>

    {% for session_id in session_data %}
        <tr>
        <td> {{ session_id[1] }} </td>
        <td> {{ session_id[2] }} </td>
        <td> {{ session_id[3] }} </td>
        <td> {{ session_id[4] }} </td>
        </tr>
    {% endfor %}
    </tbody>

    </table>



{% endblock %}

